* {
  box-sizing: border-box;
}

/* 
"Sm/0.5",
"Xs/0.25",
"Lg/1",
"Xxl/2",
"Md/0.75", 
"Xxs/0.125", 
"Xl/1.5",

"3xl/2.5" 

*/

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;

  --theme-spacing: 8px;

  --sm-0-5: calc(var(--theme-spacing) * 0.5);
  --xxs-0-125: calc(var(--theme-spacing) * 0.125);
  --xs-0-25: calc(var(--theme-spacing) * 0.25);
  --lg-1: calc(var(--theme-spacing) * 1);
  --xl-1-5: calc(var(--theme-spacing) * 1.5);
  --xxl-2:  calc(var(--theme-spacing) * 2);
  --md-0-75:  calc(var(--theme-spacing) * 0.75);
}



.App {
  height: 100vh;
  padding: 0;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

pre { 
  line-height: 1.5;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
